/* сетка грид */

@media (min-width: 768px) {

  .grid-container {
    display: grid;
    gap: 20px;

    grid-template-columns: 250px 1fr 1fr;
    grid-template-areas:
      "hero hero hero"
      "about about about"
      "sidebar advantages advantages"
      "sidebar advantages advantages"
      "sidebar info order";
  }

  .hero {
    grid-area: hero;
  }

  .about {
    grid-area: about;
  }

  .grid-container .sidebar {
    grid-area: sidebar;
  }

  .advantages {
    grid-area: advantages;
  }

  .info-block {
    grid-area: info;
  }

  .order-form {
    grid-area: order;
  }
}