/* стили для main Главной страницы */

.main {
  display: flex;
  flex-direction: column;
  min-height: 85vh;
  margin: 0 auto;
  background-color: var(--first_background-light-color);
  background-size: cover;
  color: var(--second-font-color);
}

.main__inner {
  height: 100%;
  background-color: var(--second_background-color);
  background-image: url("../../img/boukette.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero {
  position: relative;
  display: flex;
  align-items: flex-end;
  padding-inline: 10px;
}

.hero__slogan {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 40px;
  text-align: flex-start;
  min-width: 300px;
  max-width: 600px;
  padding: 20px;
  margin-bottom: 5%;
  margin-top: auto;
}

.hero__slogan-title {
  font-size: 32px;
  line-height: 40px;
  font-weight: 700;
  padding: 20px;
  color: var(--first-font-color);
  border: 2px solid var(--third_background-color);
  border-radius: 25% 10% 25% 10%;
  background-color: var(--first_background-color-opacity6);
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.25);
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.1));
  backdrop-filter: blur(6px);
  transition: all 0.3s ease;
}

.hero__slogan-title:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.hero__slogan-text {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  font-size: 16px;
  line-height: 20px;
  color: var(--second-font-color);
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.25);
}

.about {
  margin: 0 10px;
  background-color: var(--first_background-color-opacity3);
  color: var(--second-font-color)
}


.advantages {
  background-color: var(--first_background-color-opacity3);
  color: var(--second-font-color);
  padding-block: 10px;
  border: 2px solid var(--third_background-color);
  border-radius: 5% 2% 5% 2%;
  background-color: var(--first_background-color-opacity6);
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.25);
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.1));
  backdrop-filter: blur(6px);
  transition: all 0.3s ease;
}

.advantages:hover {
  transform: scale(1.01);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.advantages__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;

  max-height: 0;
  overflow: hidden;

  transition: max-height var(--transition-slow) cubic-bezier(.4, 0, .2, 1);
}

.advantages__item {

  opacity: 0;
  transform: translateY(20px);

  transition:
    opacity var(--transiton-normal),
    transform var(--transiton-normal);
}

.advantages__item {
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  padding: 8px 0;
}

.advantages__title {
  font-size: 24px;
  padding-left: 10px;
  color: var(--first-font-color);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 12px;

  cursor: pointer;
  background: none;

}

.advantages.active .advantages__list {
  max-height: 700px;
}

.advantages.active .advantages__item {

  opacity: 1;
  transform: translateY(0);

}

.advantages.active .advantages__item:nth-child(1) {
  transition-delay: .05s;
}

.advantages.active .advantages__item:nth-child(2) {
  transition-delay: .15s;
}

.advantages.active .advantages__item:nth-child(3) {
  transition-delay: .25s;
}

.advantages.active .advantages__item:nth-child(4) {
  transition-delay: .35s;
}

.advantages__arrow {

  width: 10px;
  height: 10px;

  border-right: 2px solid currentColor;
  border-bottom: 2px solid currentColor;

  transform: rotate(45deg);

  transition: transform var(--transiton-normal);
}

.advantages.active .advantages__arrow {
  transform: rotate(-135deg);
}

.advantages__item-title {
  font-size: 20px;
  color: var(--fifth-font-color);
  margin: 0 0 10px 10px;

}

.advantages__item-text {
  margin: 0 15px;
}

.info-block {
  display: none;
}

/* для ноутбуков */
@media (min-width: 1024px) {
  .main {
    width: 95%;
  }

  .info-block {
    display: block;
    max-width: 550px;
    height: max-content;
    margin: 0 10px;
    background-color: var(--first_background-color-opacity6);
    color: var(--second-font-color);
    padding: 10px;
  }
}