.title {
  font-family: var(--font-accent);
  font-style: italic;
  margin: 0;
}

.subtitle {
  color: var(--fourth-font-color);
}

.button {
  padding: 8px 10px;
  font: inherit;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 0 0 4px rgba(50, 50, 50, 0.25);
  border: none;
  background-color: transparent;
  color: var();
}

.button:disabled {
  /* color: var();
  background-color: var();
  cursor: default; */
}

.order-form {
  display: grid;
  grid-template-rows: auto 1fr;

  background: linear-gradient(-45deg,
      #a8a8a4,
      #837658);
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.3);
}

.order-form__description {
  padding: 10px;
  color: var(--second-font-color);
}

.order-form__description-title {
  padding-left: 10px;
  color: var(--second-font-color);
}

.order-form__form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0 auto;
  border-radius: 5px;
}

.order-form__button {
  color: var(--second-font-color);

  background: linear-gradient(-45deg,
      rgba(230, 221, 142, 1),
      rgba(193, 161, 86, 1),
      rgba(203, 184, 75, 1),
      rgba(159, 137, 72, 1),
      rgb(240, 199, 110, 1));
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.3);
}



.order-form__input {
  padding: 10px;
  border-radius: 5px;
  background-color: var(--input__background-color);
  color: var(--first-font-color);
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

/* стили для modal */


.modal-form__overlay {
  position: fixed;
  inset: 0;
  background-color: var(--first__background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.modal-form__hidden {
  display: none;
}

.modal-form {
  position: relative;
  width: 100%;
  max-width: 717px;
  padding: 64px 70px;
  font-family: inherit;
  margin: 0 auto;
  background-color: var(--first_background-color);
  border-radius: 30px;
  box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 0.15);
  z-index: 10;
  box-sizing: border-box;
}