.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--page__background);
  font-family: var(--font-main);
}

.container {
  width: min(var(--container-width),
      100% - (var(--container-padding) * 2));
  margin-inline: auto;

}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page h1 {
  line-height: 1.2;
  font-weight: 700;
  font-size: clamp(32px, 4vw, 48px);
}

.page h2 {
  line-height: 1.2;
  font-weight: 700;
  font-size: clamp(26px, 3vw, 36px);
}

.page h3 {
  line-height: 1.2;
  font-weight: 700;
  font-size: clamp(22px, 2.5vw, 28px);
}

.page h4 {
  line-height: 1.2;
  font-weight: 700;
  font-size: clamp(18px, 2vw, 22px);
}

.page a {
  color: inherit;
  text-decoration: none;
  font-family: var(--font-ui);
}


.page input {
  appearance: none;
  -webkit-appearance: none
}

.page figure {
  margin: 0;
}

:where(.page) ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration-color: inherit;
}

:where(.page) :where(button, input) {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

:where(.page) img {
  vertical-align: middle;
}

:where(.page) figure {
  margin: 0;
}