:root {
  --page_background: rgba(255, 255, 255, 1);
  --first_background-color: rgba(211, 212, 212, 1);
  --first_background-color-opacity3: rgba(44, 44, 44, 0.3);
  --first_background-light-color: rgba(222, 218, 218, 1);
  --first_background-light-color-opacity6: rgba(126, 158, 158, 0.6);
  --second_background-color: rgba(70, 70, 72, 1);
  --third_background-color: rgba(240, 126, 2, 1);
  --first-font-color: rgba(57, 57, 59, 1);
  --second-font-color: rgba(255, 255, 255, 1);
  --third-font-color: rgba(44, 44, 44, 1);
  --fourth-font-color: rgba(240, 126, 2, 1);
  --fifth-font-color: rgba(209, 233, 235, 0.8);
  --input__background-color: rgb(246, 217, 183);
  --button__background-color: rgba(240, 126, 2, 1);
  --button__background-color--hover: rgba(240, 126, 2, 0.7);
  --third-border-color: rgba(240, 126, 2, 1);
  --error: rgba(255, 87, 87, 1);

  --silver__background: linear-gradient(90deg,
      #d7d7d7,
      #f0f0f0,
      #cfcfcf,
      #f5f5f5,
      #d7d7d7);
  ;
  /* shadow */
  --box-shadow: 0px 5px 10px 0px var(--first_background-color-opacity3);

  /* ===== FONTS ===== */

  --font-main: "Inter", Arial, sans-serif;
  --font-title: "Noto Serif Display", Georgia, serif;
  --font-ui: "Roboto", Arial, sans-serif;
  --font-accent: "Raleway", sans-serif;


  /* ===== LAYOUT ===== */

  --container-width: 1200px;
  --container-padding: 15px;


  /* ===== TRANSITIONS ===== */

  --transition-fast: 0.2s ease;
  --transition-normal: 0.4s ease;
  --transition-slow: 0.6s;
}


@media (min-width:768px) {
  :root {
    --container-padding: 24px;
  }
}

@media (min-width:1024px) {
  :root {
    --container-padding: 32px;
  }
}

@media (min-width:1280px) {
  :root {
    --container-padding: 46px;
    --container-width: 1900px;
  }
}

@font-face {
  font-family: "Raleway";
  src: url("../../fonts/raleway-v37-cyrillic_latin-regular.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url("../../fonts/raleway-v37-cyrillic_latin-italic.woff2") format("woff2");
  font-style: italic;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Noto Serif Display";
  src: url("../../fonts/NotoSerifDisplay-VariableFont_wdth,wght.woff2") format("woff2");
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
}

@font-face {
  font-family: "Noto Serif Display";
  src: url("../../fonts/NotoSerifDisplay-Italic-VariableFont_wdth,wght.woff2") format("woff2");
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../../fonts/Inter-VariableFont_opsz,wght.woff2") format("woff2");
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../../fonts/Inter-Italic-VariableFont_opsz,wght.woff2") format("woff2");
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../../fonts/Roboto-VariableFont_wdth,wght.woff2") format("woff2");
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../../fonts/Roboto-Italic-VariableFont_wdth,wght.woff2") format("woff2");
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
}